<app-header></app-header>
<!-- <router-outlet></router-outlet> -->

<div>
  <div id="sect1" class="container">

  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 col-d-offset-3">
      <p *ngIf="loadedPosts.length <1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >=1  && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching && !error">Loading...</p>
      <div class="alert alert-danger" *ngIf="error">
        <h1>An Error Occurred!</h1>
        <p>{{ error }}</p>
        <button class="btn btn-danger"(click)=OnHandleError()>Okay</button>
      </div>
    </div>
  </div>
<!-- <div class ="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class=" nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Anime Kingdom</a></li>
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
      </ul>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-homepage></app-homepage>
      <app-profile></app-profile>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <app-homepage></app-homepage>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <app-profile></app-profile>
  </div>
</div> -->
